@charset "UTF-8";
:root {
  --font-family-exo: "Exo", sans-serif;
  --font-family-exo2: "Exo 2", sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --bg-page: #FFF9FA;
  --bg-cards: #FFEAE8;
  --rose: #CE4370;
  --main-color: #E883A3;
  --main-color-hover: #dd7c8f;
  --main-color-opacity: #FFDEDE;
  --text-color: #A16D6D;
  --dark-color: rgba(0, 0, 0, 0.74);
  --footer-text-color: #a16d6d;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

._container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 29px;
}

.page {
  flex: 1 1 100%;
}

.title__h1 {
  font-weight: 700;
  font-size: clamp(34px, 6vw, 90px);
  text-transform: uppercase;
}

.title__h2 {
  font-size: clamp(20px, 5vw, 42px);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--rose);
}

.button__style {
  padding: 21px 32px;
  border-radius: 35px;
  background: var(--main-color);
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  font-family: var(--font-family-exo);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}
.button__style:hover {
  background: var(--main-color-hover);
}

.border-button__style {
  padding: 21px 32px;
  border-radius: 12px;
  color: var(--main-color);
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
  border: 1px solid var(--main-color);
}
.border-button__style:hover {
  background: var(--main-color-hover);
  color: #fff;
}

.text-rose {
  color: var(--rose);
}

.white-text {
  color: #fff;
}

/*================ header =========================*/
.mobile-menu {
  display: none;
}

.header {
  background: transparent;
  padding: 20px 0;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s ease, background-color 0.3s ease;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 200px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.header__menu .menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.header__menu .menu__link {
  margin: 0;
}
.header__menu .menu__link a {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--main-color);
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
}
.header__menu .menu__link a:hover {
  color: var(--main-color-hover);
  text-decoration: underline;
}
.header__menu .menu__link a.active {
  color: var(--rose); /* пример цвета */
  font-weight: 700;
}

.header__button {
  background: #FEF1F7;
  border-radius: 20px;
  padding: 10px 20px;
}
.header__button .present-btn {
  display: flex;
  align-items: center;
  font-size: clamp(8px, 1.5vw, 20px);
  color: var(--main-color);
}
.header__button .present-btn img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.header__social {
  display: none;
}

/*================ hero ===========================*/
.hero {
  padding-bottom: 150px;
  position: relative;
  z-index: 2;
}

._ibg {
  position: absolute;
  right: 0;
  top: 48px;
}

.hero__body {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-top: 60px;
}
.hero__body .body__text {
  z-index: 2;
  position: relative;
  margin-top: 60px;
  z-index: 3;
}
.hero__body .body__text .hero__title {
  max-width: 720px;
  margin-bottom: 10px;
}
.hero__body .body__text .hero__sub-title {
  font-size: clamp(18px, 4vw, 42px);
  font-weight: 700;
  font-family: var(--font-family-exo2);
  text-transform: uppercase;
  margin-bottom: 6px;
}
.hero__body .body__text .hero__text {
  display: inline-flex;
  font-weight: 500;
  font-size: clamp(14px, 4vw, 18px);
  font-family: var(--font-family-exo2);
  line-height: 120%;
  margin: 15px 0;
  max-width: 612px;
  background: #FEF1F7;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 400;
}
.hero__body .body__text .mini-text {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-family-exo2);
  color: #fff;
}
.hero__body .body__text .hero__btn {
  display: inline-flex;
  margin-top: 15px;
}
.hero__body .body__text .hero__btn img {
  width: 60px;
  margin-right: 6px;
}
.hero__body .body__image {
  position: absolute;
  right: 3rem;
  top: -20px;
  z-index: 3;
}
/*================ recept ============================*/
.section-padding {
  padding: 45px 0 45px;
}

.recept {
  position: relative;
  background: #FFF9FA;
  background: linear-gradient(0deg, rgb(255, 249, 250) 0%, rgb(232, 131, 163) 100%);
  padding-top: 355px;
  padding-bottom: 100px;
  margin-top: -14em;
}
.recept:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -4px;
  background: url("../img/top-grad.svg") no-repeat;
  background-size: contain;
  width: 102%;
  height: 100%;
}
.recept:before {
  content: "";
  position: absolute;
  bottom: -56em;
  left: 0;
  right: 0;
  background: url("../img/bottom-grad.svg") no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.section__title-block {
  text-align: center;
  position: relative;
  color: #fff;
  margin-top: 50px;
  z-index: 2;
}
.section__title-block .block__sub-text {
  margin: 3px auto 0;
  max-width: 680px;
  font-weight: 400;
  font-size: clamp(12px, 3vw, 18px);
  line-height: 1.1;
  text-align: center;
}

.stylish__title-block .block__sub-text {
  max-width: 1200px;
}

.recept__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 44px;
  position: relative;
  z-index: 2;
}

.recept__cart {
  background: linear-gradient(90deg, #fff9fa 0%, #fef1f7 100%);
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.recept__cart .wrapp__cart {
  color: var(--rose);
  padding-bottom: 106px;
}
.recept__cart .wrapp__cart img {
  border-radius: 30px;
}
.recept__cart .wrapp__cart .cart__text {
  display: flex;
  align-items: flex-start;
  margin: 15px 18px;
}
.recept__cart .wrapp__cart .cart__text img {
  width: 26px;
  height: 26px;
  margin-right: 5px;
}
.recept__cart .wrapp__cart .cart__text span {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
}
.recept__cart .wrapp__cart p {
  padding: 0 18px;
  min-height: 80px;
  font-weight: 400;
  line-height: 1.2;
  font-size: clamp(14px, 3vw, 16px);
}
.recept__cart .cart__btn {
  position: absolute;
  bottom: 10px;
  margin: 10px 15px;
  width: calc(100% - 30px);
}
.recept__cart .cart__btn .recept__btn {
  font-size: 16px;
  width: 100%;
}

/*============== stylish ==============================*/
.stylish {
  position: relative;
  z-index: 2;
}

.padding_stylish {
  padding-top: 120px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 44px;
}
.gallery .gall-a {
  color: var(--rose);
  font-family: var(--font-family-exo);
  background: #FFF9FA;
  background: linear-gradient(180deg, rgb(255, 249, 250) 0%, rgb(254, 241, 247) 100%);
  border-radius: 30px;
}
.gallery .gall-a img {
  border-radius: 30px;
  margin-bottom: 11px;
}
.gallery .gall-a h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
  text-transform: uppercase;
  padding: 0 18px;
}
.gallery .gall-a p {
  padding: 0 18px;
  font-size: clamp(14px, 3vw, 20px);
  font-weight: 500;
  margin-bottom: 12px;
}
.gallery .gall-a span {
  display: flex;
  align-items: center;
  padding: 0 18px;
  margin-bottom: 12px;
  color: var(--main-color);
}
.gallery .gall-a span img {
  width: 25px;
  padding-top: 4px;
  margin-left: 3px;
  margin-bottom: 0;
}
.gallery .gall-a span a {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 400;
}
.gallery .gall-a span a img {
  width: 25px;
  padding-top: 4px;
  margin-left: 3px;
  margin-bottom: 0;
}
.gallery .gall-a:nth-child(1),
.gallery .gall-a:nth-child(4) {
  transform: translateY(40px);
}
.gallery .stylish__gallery:nth-child(1),
.gallery .stylish__gallery:nth-child(4) {
  transform: translateY(0);
}

.stylish__btn {
  margin: 44px auto 0;
}
.stylish__btn .stylish__text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 12px;
  color: var(--rose);
}

/*============== meditation ==============================*/
.meditation {
  position: relative;
  background: url("../img/med-bg.svg") top no-repeat;
  background-size: cover;
  width: 100%;
}

.meditation__title-block h2 {
  color: #fff;
}

.meditation__body {
  padding-bottom: 80px;
}

.swiper {
  width: 100%;
  height: 680px;
  position: relative;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 96% !important;
  width: 44px;
  height: 44px;
  z-index: 20;
}

.swiper-button-next:after {
  background: url("../img/right_arrow.svg") no-repeat !important;
  font-size: 0;
  width: 100%;
  height: 100%;
}

.swiper-button-prev:after {
  background: url("../img/left_arrow.svg") no-repeat !important;
  font-size: 0;
  width: 100%;
  height: 100%;
}

.swiper-button-next {
  right: 40%;
}

.swiper-button-prev {
  left: 40%;
}

.swiper .swiper-horizontal > .swiper-pagination-bullets,
.swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper .swiper-pagination-custom,
.swiper .swiper-pagination-fraction {
  bottom: 17px;
}

.swiper-pagination-bullet {
  background: var(--main-color-opacity) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: var(--main-color) !important;
  width: 64px;
  height: 8px;
  border-radius: 8px;
}

.medit__cart {
  display: grid;
  grid-template-columns: 1fr;
  background: linear-gradient(90deg, #fff9fa 0%, #fef1f7 100%);
  overflow: hidden;
  padding: 20px;
  border-radius: 30px;
  height: 500px;
}

.medit__cart-img img {
  height: 204px;
  border-radius: 24px;
}

.medit__cart-text {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--rose);
  min-height: 100%;
}
.medit__cart-text h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.medit__cart-text p {
  font-weight: 500;
  font-size: 14px;
  min-height: 96px;
}

.medit__btn {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.medit__btn .pink__line {
  width: 100px;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background: #f8cce2; /* светло-розовая подложка */
}
.medit__btn .pink__line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background: var(--main-color); /* темно-розовая линия */
  transition: width 0.1s linear;
  left: 0;
  top: 0;
}
.medit__btn .pink__line .progress-inner {
  height: 100%;
  background-color: #d55d92;
  width: 0%;
  transition: width 0.2s linear;
  border-radius: 10px;
}
.medit__btn .button__medit {
  max-width: 120px;
  padding: 6px 13px;
  border-radius: 30px;
  font-weight: 900;
  font-size: 13px;
}
.medit__btn .button__medit img {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

button {
  display: flex;
  align-items: center;
  width: 100%;
}

audio {
  display: none;
}

/*============== training ==============================*/
.training {
  position: relative;
}

.training__body {
  margin: 44px 10px 0;
  position: relative;
  z-index: 2;
}
.training__body .training__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  margin: 16px 0;
}
.training__body .item__tr-video iframe {
  width: 100%;
  height: 400px;
  border-radius: 12px;
}
.training__body .item__tr-video .time__play {
  display: flex;
  justify-content: space-between;
}
.training__body .item__tr-video .time__play .play-line {
  width: 90%;
  height: 10px;
  border-radius: 5px;
  background: var(--main-color);
}
.training__body .item__tr-video .time__play .play-num {
  color: #000;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
}
.training__body .item__tr-text .item__tr-title {
  font-size: clamp(18px, 4vw, 42px);
  font-weight: 700;
  color: var(--rose);
  margin-bottom: 10px;
}
.training__body .item__tr-text .item__tr-descr {
  font-size: clamp(12px, 3vw, 20px);
  font-weight: 400;
  line-height: 130%;
  color: var(--rose);
}
.training__body .item__tr-text .training_btn {
  max-width: 287px;
  margin-top: 20px;
}

/*================ footer ============================*/
.footer {
  padding-top: 40px;
}
.footer .space__body {
  display: grid;
  grid-template-columns: 35% 1fr;
  align-items: center;
  gap: 30px;
  padding: 30px 0 100px;
  position: relative;
}
.footer .space__body .space__img {
  position: relative;
  z-index: 2;
}
.footer .space__body .space__img img {
  max-width: 482px;
}
.footer .space__body .space__text {
  position: relative;
  z-index: 2;
}
.footer .space__body .space__text h3 {
  font-weight: 700;
  font-size: 42px;
  font-size: clamp(34px, 5vw, 90px);
  text-transform: uppercase;
  line-height: 100%;
  margin-bottom: 12px;
  margin-bottom: 50px;
}
.footer .space__body .space__text .text-bg__wrap {
  border-radius: 30px;
  padding: 15px;
  background: #fef1f7;
  max-width: 655px;
}
.footer .space__body .space__text .text-bg__wrap h4 {
  font-weight: 700;
  font-family: var(--font-family-exo2);
  font-size: clamp(23px, 4vw, 42px);
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer .space__body .space__text .text-bg__wrap p {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 12px;
}
.footer .space__body .space__text .space__btn {
  max-width: 328px;
  margin-top: 10px;
}
.footer .footer__body {
  background: #f8e1e7;
  border-radius: 30px 30px 0 0;
  padding: 60px 0;
}
.footer .footer__body .footer-body_container {
  display: flex;
  justify-content: space-between;
}
.footer .footer__body .footer__logo img {
  max-width: 208px;
}
.footer .footer__body .media {
  display: flex;
}
.footer .footer__body .media .media__ul {
  display: flex;
  align-items: center;
}
.footer .footer__body .media .media__ul li {
  margin-right: 10px;
  font-weight: 800;
  font-size: 12px;
  text-align: right;
  color: var(--main-color);
}
.footer .footer__body .media .media__ul li a {
  display: flex;
  align-items: center;
}
.footer .footer__body .media .media__ul li a img {
  width: 32px;
  height: 32px;
  margin: 0 5px;
}
.footer .footer__body .media .social {
  margin-right: 40px;
}
.footer .footer__body .media .email li a {
  color: var(--rose);
  font-weight: 700;
  font-size: 18px;
}

/*================ Food style pages ============================*/
.food__title {
  font-family: var(--font-family-exo2);
  text-transform: uppercase;
  font-weight: 700;
}

.food__text {
  padding: 18px;
}
.food__text span {
  font-weight: 700;
  font-family: var(--font-family-exo2);
  font-size: 24px;
  line-height: 1.2;
  height: 43px;
  display: inline-block;
}

.padding_top {
  padding-top: 120px;
}

@media (min-width: 1510px) {
  ._container {
    max-width: 1490px;
  }
  .hero__body .body__text .hero__title {
    max-width: 790px;
  }
}
@media (min-width: 1030px) {
  .swiper {
    width: 1000px;
  }
}
@media (max-width: 1180.98px) {
  .header__logo {
    max-width: 150px;
  }
  .header__menu .menu__link a {
    padding: 10px;
  }
  .hero__body .body__image {
    right: -8em;
  }
  .training__body .item__tr-video iframe {
    height: 300px;
  }
}
@media (max-width: 959.98px) {
  .menu__icon {
    display: block;
    z-index: 8;
    position: relative;
    width: 42px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .menu__icon span {
    position: absolute;
    left: 11px;
    top: 13px;
    height: 2px;
    width: 20px;
    background-color: var(--main-color);
    transition: all 0.3s ease 0s;
    border-radius: 2px;
  }
  .menu__icon::before, .menu__icon::after {
    position: absolute;
    left: 11px;
    height: 2px;
    background-color: var(--main-color);
    transition: all 0.3s ease 0s;
    border-radius: 2px;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 20px;
    width: 20px;
  }
  .menu__icon::after {
    bottom: 12px;
    width: 20px;
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    left: 11px;
    width: 22px;
    background-color: #fff;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    left: 10px;
    width: 22px;
    background-color: #fff;
    transform: rotate(45deg) translate(0px, -50%);
  }
  .header {
    padding: 15px 0;
  }
  .header__body .header__logo {
    max-width: 160px;
  }
  header.dark-overlay::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* полупрозрачный черный фон */
    z-index: 3; /* выше обычного контента, но ниже модалок и т.п. */
    pointer-events: none; /* чтобы не мешал кликам */
  }
  .header__right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0px;
    right: 0;
    width: 70%;
    transform: translateX(100%);
    visibility: hidden;
    transition: all 0.3s ease 0s;
    background: #CE4370;
    border-radius: 30px 0 0 30px;
    overflow-y: auto;
    z-index: 7;
  }
  .header__right._active body {
    background: rgba(0, 0, 0, 0.5);
  }
  .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    padding: 140px 60px 70px;
    width: 100%;
  }
  .header__menu .menu__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header__menu .menu__list .menu__link {
    font-weight: 700;
    font-size: 14px;
    margin-left: 0;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
  }
  .header__menu .menu__list .menu__link a {
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
  }
  .header__menu .wd-nav {
    margin-bottom: 32px;
  }
  .header__menu form {
    margin-right: 0;
  }
  ._active {
    visibility: visible;
    transform: translateX(0);
  }
  .header__button {
    margin-right: 3em;
  }
  .header__social {
    display: block;
    width: 100%;
  }
  .header__social .social__list {
    margin-top: 50px;
  }
  .header__social .social__list .icons-li {
    display: flex;
  }
  .header__social .social__list .icons-li a {
    width: 32px;
    height: 32px;
    margin: 0 5px;
  }
  .header__social .social__list li {
    margin-bottom: 25px;
  }
  .header__social .social__list li .icon-mail {
    color: #fff;
  }
  .hero__body .body__text {
    max-width: 445px;
  }
  .hero__body .body__text .mini-text {
    font-size: 14px;
    color: var(--main-color);
  }
  .hero__body .body__image {
    position: absolute;
    right: -80px;
    top: 188px;
  }
  .recept {
    margin-top: 0em;
  }
  .recept:before {
    bottom: -83em;
  }
  .recept__body {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 34px;
  }
  .gallery .gall-a:nth-child(1),
  .gallery .gall-a:nth-child(4) {
    transform: translateY(0);
  }
  .swiper-button-next {
    right: 35%;
  }
  .swiper-button-prev {
    left: 35%;
  }
  .training__body .item__tr-video iframe {
    height: 270px;
  }
  .footer .space__body {
    position: relative;
  }
  .footer .space__body:before {
    display: none;
  }
  .footer .space__body .space__img img {
    padding-left: 0;
  }
}
@media (max-width: 820.98px) {
  .recept {
    padding-top: 230px;
  }
  .training__body .training__item {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 40px;
  }
  .training__body .training__item .item__tr-video {
    order: 1;
  }
  .training__body .training__item .item__tr-video .time__play .play-line {
    width: 85%;
    height: 6px;
  }
  .training__body .training__item .item__tr-text {
    order: 2;
  }
  .training__body .item__tr-text .training_btn {
    max-width: 187px;
  }
  .training__body .item__tr-video iframe {
    height: 375px;
  }
}
@media (max-width: 768.98px) {
  .button__style {
    width: 100%;
    padding: 21px;
    font-size: 14px;
  }
  ._ibg {
    display: none;
  }
  .hero {
    padding-bottom: 75px;
  }
  .hero__body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .hero__body .body__text .hero__text {
    max-width: 300px;
    font-size: 12px;
  }
  .hero__body .body__image {
    top: 190px;
  }
  .recept {
    margin-top: 4em;
  }
  .recept__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 34px;
  }
  .swiper2 {
    height: 480px;
  }
  .swiper2 .swiper-slide iframe {
    width: 100%;
    height: 340px;
  }
  .medit__cart-text h3 {
    font-size: 18px;
  }
  .training {
    position: relative;
  }
  .training:before {
    width: 0;
  }
  .footer .footer__body .footer-body_container {
    flex-direction: column;
  }
  .footer .footer__body .media {
    flex-direction: column;
    margin-top: 30px;
  }
  .footer .footer__body .media .social {
    margin-right: 0;
  }
  .footer .footer__body .media .email {
    margin-top: 15px;
  }
  .footer .space__body {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer .space__body .space__text h3 {
    transform: translateX(0);
  }
  .footer .space__body .space__text .text-bg__wrap {
    margin-left: 40%;
  }
  .footer .space__body .space__text .text-bg__wrap h4 {
    text-transform: none;
  }
  .footer .space__body .space__text .text-bg__wrap p {
    font-size: 12px;
  }
  .footer .space__body .space__text .text-bg__wrap .space__btn a {
    padding: 10px 12px 8px;
    max-width: 180px;
  }
  .footer .space__body .space__img {
    margin-top: -14em;
    margin-left: -18em;
    position: relative;
    z-index: 3;
  }
  .footer .space__body .space__img img {
    width: 300px;
  }
}
@media (max-width: 639.98px) {
  .header {
    top: 30px;
  }
  .recept {
    padding-top: 200px;
  }
  .meditation {
    position: relative;
    background: url("../img/meditation_bg-mob.svg") top no-repeat;
    background-size: cover;
    width: 100%;
  }
  .medit__cart {
    grid-template-columns: 1fr;
  }
  .swiper-button-next {
    right: 20%;
  }
  .swiper-button-prev {
    left: 20%;
  }
  .training__body .item__tr-video iframe {
    height: 300px;
  }
  .footer .footer__body {
    margin-top: -90px;
  }
}
@media (max-width: 479.98px) {
  .section-padding {
    padding: 25px 0;
  }
  .padding_top {
    padding-top: 80px;
  }
  .padding_stylish {
    padding-top: 80px;
  }
  .stylish__text {
    display: none;
  }
  .menu__icon {
    top: 8px;
  }
  .header__body .header__logo {
    max-width: 120px;
  }
  .header__menu {
    padding: 140px 30px 70px;
  }
  .header__button {
    padding: 6px 12px;
  }
  .header__button .present-btn img {
    width: 12px;
    height: 12px;
  }
  .hero__title {
    max-width: 320px;
  }
  .hero__body .body__text .hero__text {
    border-radius: 12px;
    padding: 10px;
  }
  .hero__body .body__text {
    margin-top: 30px;
  }
  .hero__body .body__text .hero__text {
    max-width: 220px;
    font-size: 12px;
  }
  .hero__body .body__image {
    right: -70px;
    top: 180px;
    z-index: 3;
  }
  .hero__body .body__text .mini-text {
    font-size: 7px;
  }
  .recept {
    margin-top: -3em;
    padding-top: 140px;
  }
  .recept:before {
    bottom: -142em;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery .gall-a h3 {
    font-size: 20px;
  }
  .recept__body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .meditation__body {
    padding: 0 20px;
  }
  .swiper {
    height: 631px;
    margin-top: -50px;
  }
  .swiper-button-next {
    right: 6%;
  }
  .swiper-button-prev {
    left: 6%;
  }
  .swiper2 {
    height: 370px;
  }
  .swiper2 .swiper-slide iframe {
    height: 253px;
  }
  .swiper2 .swiper-horizontal > .swiper-pagination-bullets,
  .swiper2 .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper2 .swiper-pagination-custom,
  .swiper2 .swiper-pagination-fraction {
    bottom: 5px;
  }
  .training {
    padding: 25px 10px;
  }
  .training__body .item__tr-video iframe {
    height: 190px;
  }
  .training__body .item__tr-text .training_btn {
    max-width: 140px;
    padding: 13px;
  }
  .section__title-block {
    margin-top: 20px;
  }
  .footer .space__body .space__img {
    margin-left: -12em;
  }
  .footer .space__body .space__text .text-bg__wrap .space__btn a {
    max-width: 100%;
    font-size: 12px;
    padding: 10px;
  }
}
@media (max-width: 412.98px) {
  .hero__body .body__text .hero__text {
    max-width: 230px;
  }
  .hero__body .body__image {
    top: 145px;
    left: -35px;
  }
  .footer .space__body .space__img {
    margin-left: -9.5em;
  }
  .footer .space__body .space__img img {
    width: 260px;
  }
}
@media (max-width: 393.98px) {
  .swiper2 {
    height: 360px;
  }
  .swiper2 .swiper-slide iframe {
    height: 220px;
  }
  .training__body .item__tr-video iframe {
    height: 170px;
  }
}
@media (max-width: 388.98px) {
  .hero__body .body__text .hero__text {
    max-width: 220px;
  }
  .recept__title-block .title__h2 {
    font-size: 23px;
  }
}/*# sourceMappingURL=style.css.map */