
:root {
	--font-family: "Nunito Sans", sans-serif;
	--font-family-2: "Nunito", sans-serif;
	--font-family-3: "Playfair Display", sans-serif;
	--font-size: 16px;
	--font-weight: 400;
	--bg-page: #FFF9F2;
	--bg-cards: #FFEAE8;
	--main-color: #ED869A;
	--main-color-hover: #dd7c8f;
	--main-color-opacity: #FFDEDE;
	--text-color: #A16D6D;
	
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
._container  {
	max-width: 1340px;
	margin: 0 auto;
	padding: 0 10px;
}
.page {
	flex: 1 1 100%;
}

.title__h1 {
	font-family: var(--font-family-2);
	font-weight: 900;
	font-size: clamp(26px, 4vw, 54px);
	text-transform: uppercase;
}
.title__h2 {
	font-family: var(--font-family-2);
	font-size: clamp(26px, 4vw, 44px);
	font-weight: 800;
}

.header {
	position: relative;
	z-index: 5;
	padding: 44px 0 24px;
	&::after {
		content: '';
		position: absolute;
		height:100%;
		width:100%;
		top:0;
		left:0;
	}
}
.header__body {
	display: flex;
	justify-content: center;
	.header__logo {
		max-width: 208px;
		display: inline-block;
		z-index: 2;
	}
}

.button__style {
	padding: 21px 32px;
	border-radius: 12px;
	background: var(--main-color);
	color: #fff;
	font-family: var(--font-family);
	font-weight: 900;
	font-size: 18px;
	line-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease 0s;
	&:hover {
		background: var(--main-color-hover);
	}
}

/*================ hero ===========================*/
.hero {
	padding-bottom: 150px;
}
._ibg {
	position: absolute;
	right: 0;
	top: 48px;
}
.hero__body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 10px;
	position: relative;
	z-index: 2;
	.body__text {
		.hero__title {

		}
		.hero__text {
			display: inline-flex;
			font-family: var(--font-family-3);
			font-weight: 600;
			font-size: clamp(14px, 4vw, 24px);
			line-height: 100%;
			margin: 15px 0;
		}
		.hero__btn {
			display: inline-flex;
			margin-top: 15px;
			img {
				width: 60px;
				margin-right: 6px;
			}
		}
	}
	.body__image {
		img {
			max-width: 545px;
		} 
	}
}

/*================ recept ============================*/
.section-padding {
	padding: 45px 0;
}
.recept {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: -38%;
		left: -10%;
		background: url('../img/Group-1.svg') no-repeat;
		width: 100%;
		height: 100%;
	}
}
.section__title-block {
	text-align: center;
	position: relative;
	z-index: 2;
	.block__sub-text {
		margin: 0 auto;
		max-width: 874px;
		font-family: var(--font-family-3);
		font-weight: 500;
		font-size: clamp(16px, 4vw, 18px);
		line-height: 100%;
		text-align: center;
	}
}
.recept__body {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	margin-top: 44px;
	position: relative;
	z-index: 2;
}
.recept__cart {
	background: var(--bg-cards);
	border-radius: 12px;
	overflow: hidden;
	.wrapp__cart {
		img {

		}
		.cart__text {
			display: flex;
			align-items: center;
			margin: 15px 18px;
			img {
				width: 26px;
				height: 26px;
				margin-right: 5px;
			}
			span {
				font-family: var(--font-family);
				font-weight: 900;
				font-size: 24px;
				line-height: 100%;
				text-transform: uppercase;
			}
		}
	}
	.cart__btn {
		margin: 30px 18px 15px;
		.recept__btn {
			font-size: 16px;
		}
		.button__style {
		}
	}

}

/*============== stylish ==============================*/
.stylish {
}
.section__title-block {
}
.stylish__title-block {
}
.title__h2 {
}
.block__sub-text {
}
.stylish__body {
}
.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	margin-top: 44px;
}
.stylish__btn {
	margin: 44px auto 0;
	max-width: 288px;
	.button__style {
	}
}


/*============== meditation ==============================*/
.meditation {
}
.section__title-block {
}
.meditation__title-block {
}
.block__sub-text {
}
.meditation__body {
}
.swiper {
	width: 100%;
	height: 660px;
	position: relative;
}
.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: 98% !important;
	width: 44px;
	height: 44px;
	z-index: 20;
}
.swiper-button-next:after {
	background: url("../img/right_arrow.svg") no-repeat !important;
	font-size: 0;
	width: 100%;
	height: 100%;
}
.swiper-button-prev:after {
	background: url("../img/left_arrow.svg") no-repeat !important;
	font-size: 0;
	width: 100%;
	height: 100%;
}
.swiper-button-next {
	right: 40%;
}
.swiper-button-prev {
	left: 40%;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 10px;
}
.swiper-pagination-bullet {
	background: var(--main-color-opacity)!important;
	opacity: 1 !important;
}
.swiper-pagination-bullet-active {
	background: var(--main-color) !important;
	width: 64px;
	height: 8px;
	border-radius: 8px;
}


.medit__cart {
	display: grid;
	grid-template-columns: minmax(150px, 300px) 1fr;
	background: var(--bg-cards);
	border-radius: 12px;
	overflow: hidden;
}
.medit__cart-img {
	img {
		height: 100%;
	}
}
.medit__cart-text {
	padding: 32px 23px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.wrapp__cart-text {
	h3 {
		font-family: var(--font-family);
		font-weight: 900;
		font-size: 24px;
		line-height: 100%;
		margin-bottom: 12px;
	}
	p {
		font-weight: 500;
		font-size: 16px;
	}
}
.medit__btn {
	margin-top: 30px;
	.button__medit {
		img {
			width: 24px;
			height: 24px;
			margin-left: 8px;
		}
	}
}

/*============================================*/


/*============================================*/

.footer {
	.footer__body {
		background: var(--bg-cards);
		padding: 60px 0;
		.footer__logo {
			img {
				max-width: 208px;
			}
		}
	}
}


@media (min-width:1510px) {
	._container  {
		max-width: 1490px;
	}
}


@media (max-width:959.98px) {
	.swiper-button-next {
		right: 35%;
	}
	.swiper-button-prev {
		left: 35%;
	}
}

@media (max-width:767.98px) {
	.button__style {
		width: 100%;
		padding: 21px;
		font-size: 14px;
	}
	._ibg {
		display: none;
	}
	.hero {
		padding-bottom: 75px;
	}
	.hero__body {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
	}
	.recept {
		position: relative;
		&:after {
			display: none;
		}
	}
	.recept__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
		margin-top: 34px;
	}
	.gallery {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
		margin-top: 34px;
	}
}

@media (max-width:639.98px) {
	.medit__cart {
		grid-template-columns: 1fr;
	}
	.medit__cart-img {
		img {
			height: 250px;
			object-position: top;
			object-position: right;
		}
	}
	.swiper-button-next {
		right: 30%;
	}
	.swiper-button-prev {
		left: 30%;
	}
}

@media (max-width:479.98px) {
	.hero__title  {
		max-width: 320px;
	}
	.hero__body {
		.body__text {
			.hero__btn {
				img {
					width: 35px;
					margin-right: 10px;
				}
			}
		}
	}
	.recept__body {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	.swiper-button-next {
		right: 10%;
	}
	.swiper-button-prev {
		left: 10%;
	}

}